<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAymF_-S1cpX35jCik3lKzo8DLsdQ96pOI</string>
	<key>GCM_SENDER_ID</key>
	<string>669499884294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gdscApp</string>
	<key>PROJECT_ID</key>
	<string>helloworld-8d689</string>
	<key>STORAGE_BUCKET</key>
	<string>helloworld-8d689.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669499884294:ios:452a69dccb163a5f711487</string>
</dict>
</plist>